@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&family=Spartan:wght@100&display=swap');
header{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #14213D;
    color:white;
    padding:10px;
}
.content{
    display:block;
    margin:10px auto;
    border: 1px dashed #000;
    padding:15px;
    background-color:#eee;
    color:#444;
    font-style: italic;
}
h1{
    font-size: 50px;
    font-family: 'Skranji', cursive;
}
title{
    font-family: 'Skranji', cursive;
    text-align:center;
    font-size:45px;
}
.motto{
    font-size:20px;
    padding:0px;
    font-family: 'Spartan', sans-serif;
        }
.logo{
    width:150px;
}
nav {
    font-size:20px;
    font-family:'Spartan', sans-serif;
    background-color: #FFBA08;
    max-width:1000px;
    font-weight: bold;
    
}
.navigation {
    list-style: none;
    }
 .navigation li:first-child {
    display: block;}
.navigation li {
    display: none;
}
responsive li {
    display: block;
}

.navigation a:hover{
    background-color: #F36A08;}

.navigation a{
    display:block;
    padding: 10px;
}
nav a{
   text-decoration: none; 
color:white;  
    
}

.media img{
    width:40px;
}
.upfooter{
    display:flex;
    
}
footer
{
    margin: 10px auto;
    position: relative;
    background-color: #ea6518;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    font-family:'Spartan', sans-serif;
    font-weight:bolder;
    padding:5px; 
}
footer img{
    width:25px;
}
footer a{
    color:black;
}