@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Architects+Daughter&display=swap');
h1, h2 {
    color:rgb(14, 12, 122);
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    
}
p{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    display: block;
	padding: 0 0px 5px;
	text-align: center;
    margin: 5px;;
}
.cards{
    display:flex;
    flex-flow: row wrap;
    border:1px solid #333;
    margin: 0 auto;    
}

.cards section {
    flex: 1 0 20%;
    background-color: orange;
    text-align:center;
    padding:10px;
    border: 1px solid #333;    
}

img{
    width:60%;
    padding: 0.5rem; 
    box-shadow: 0 0 10px #333;
    margin-bottom: 10px;
}
footer{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;

}

@media only screen and (max-width:850px){
    
    .cards section {
        flex: 1 0 40%; 
    }
    
    img{
        width:70%;
    }
}

@media (max-width:500px){

    .cards section {
        flex: 1 0 50%; 
    }
    
    img{
        width:80%;
    }

}