@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&family=Spartan:wght@100&display=swap');

nav ul { display: flex; }
nav ul li { flex: 1 1 auto; } 
nav {
	background-color: #F36A08;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
li{
  font-family: 'Spartan', sans-serif;
  padding:10px;
  color:black;
}
body{ background-color: #FFF5BE;}

.content {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap:10px;
    width: auto;
    margin: 0 auto;
    background-color: #ffffff;
  } 
  h1, h2, h3 {
    font-family: 'Skranji', cursive;
  }

  h1{ padding: 20px;
    text-align: center;
    font-size: 30px;
    position:relative;
    }
  h2{ 
    text-align: center;
    
    padding:20px;
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    }
h3{
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  text-align:center;
}
a {
  grid-column: 1/2;
  grid-row: 3/4; 
  margin: 15px;  
  text-align:center; 
  }

a:hover{
  color:#14213D; 
}
main{
  margin:90px;
  padding-bottom:1px;
}
.Title{
  float:none;
}
img{ 
  max-width: 95%;
  text-align:center;
  width:300px;
  margin:10px;
  height: 430px;
  padding:5px;
 
        
    }
#site_typography{
  font-family: 'Spartan', sans-serif;
}
table{
 border: solid 1px;
}
table tr{
  font-family: 'Spartan', sans-serif;
  color: black;
  
}
table td{
  background-color: white;
  padding: 10px;
}
  p{ padding:15px;
    text-align: center;
    font-family: 'Spartan', sans-serif;
  
    
    }
  header {
    width: auto;
    background-color: #ea6518;
    align-items: center;
    justify-content: center;
    line-height: 3em;
    border-radius: 10px;
    }
  footer {
    position: relative;
    background-color: #ea6518;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    border-radius: 10px;
  }

.info{text-align:center;}
#lastUpdated{
text-align:center;}